@inject AdultManager adultManager
@page "/search"
@using DNP_Assignment.Models
<h3>Search for adults</h3>

<form>
    <div class="form-group">
        <label for="firstname" >First name</label>
        <input class="form-control" type="text" id="firstname" @bind-value="firstName">
        </div>
    <div class="form-group">
        <label for="lastname">Last name</label>
        <input class="form-control" type="text" id="lastname" @bind-value="lastName">
    </div>
    <div class="form-group">
        <label for="jobtitle">Job Title</label>
        <input class="form-control" type="text" id="jobtitle" @bind-value="jobTitle">
    </div>
    <div class="form-group">
        <label for="haircolor">Haircolor</label>
        <select class="form-control" id="haircolor" @bind="hairColor">
            <option disabled selected value=""></option>
            <option value="Blonde">Blonde</option>
            <option value="Red">Red</option>
            <option value="Brown">Brown</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
            <option value="Grey">Grey</option>
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>
        </select>
    </div>
    <div class="form-group">
    <label for="eyecolor">Eyecolor</label>
    <select class="form-control" id="eyecolor" @bind="eyeColor">
        <option disabled selected value=""></option>
        <option value="Brown">Brown</option>
        <option value="Black">Black</option>
        <option value="Grey">Grey</option>
        <option value="Blue">Blue</option>
        <option value="Amber">Amber</option>
        <option value="Hazel">Hazel</option>
    </select>
    </div>

    <div class="form-group">
        <label for="height">Height</label>
        <input class="form-control" type="text" id="height" @bind-value="height">
    </div>
    <div class="form-group">
        <label for="weight">Weight</label>
        <input class="form-control" type="text" id="weight" @bind-value="weight">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" type="text" id="age" @bind-value="age">
    </div>
    
        <label>Sex</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="m" name="gender" value="M" @onchange="genderSelected">
            <label class="form-check-label" for="m">M</label>
        </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="f" name="gender" value="F" @onchange="genderSelected">
        <label class="form-check-label" for="f">F</label>
    </div>
</form>
<button class="btn btn-secondary" type="button" @onclick="search">Search</button><hr>

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>ID</th>
            <th>Haircolor</th>
            <th>Eyecolor</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Job</th>
            <th>Sex</th>
        </tr>
    </thead>
    <tbody>
        @if (searchedAdult != null)
        {
            foreach (Adult adult in searchedAdult)
            {
                <tr>
                    <td>@adult.FirstName</td>
                    <td>@adult.LastName</td>
                    <td>@adult.Id</td>
                    <td>@adult.HairColor</td>
                    <td>@adult.EyeColor</td>
                    <td>@adult.Age</td>
                    <td>@adult.Weight</td>
                    <td>@adult.Height</td>
                    <td>@adult.JobTitle</td>
                    <td>@adult.Sex</td>
                </tr>

            }
        }
        else
        {
            foreach (Adult adult in adults)
            {
                <tr>
                    <td>@adult.FirstName</td>
                    <td>@adult.LastName</td>
                    <td>@adult.Id</td>
                    <td>@adult.HairColor</td>
                    <td>@adult.EyeColor</td>
                    <td>@adult.Age</td>
                    <td>@adult.Weight</td>
                    <td>@adult.Height</td>
                    <td>@adult.JobTitle</td>
                    <td>@adult.Sex</td>
                </tr>

            }
        }
    </tbody>
</table>

@code {
    public string firstName;
    public string lastName;
    public string hairColor;
    public string eyeColor;
    public string weight;
    public string height;
    public string jobTitle;
    public string age;
    public string sex;
    public List<Adult> searchedAdult;
    public List<Adult> adults;

    protected async override Task OnInitializedAsync()
    {
        adults=new List<Adult>();
        adults = await adultManager.getAllAdults();
    }

    private void search()
    {
        IEnumerable<Adult> query = adults;

        if (!String.IsNullOrEmpty(firstName))
        {
            query = query.Where(x => x.FirstName == firstName).ToList();
        }
        if (!String.IsNullOrEmpty(lastName))
        {
            query = query.Where(x => x.LastName == lastName).ToList();
        }
        if (!String.IsNullOrEmpty(hairColor))
        {
            query = query.Where(x => x.HairColor == hairColor).ToList();
        }
        if (!String.IsNullOrEmpty(eyeColor))
        {
            query = query.Where(x => x.EyeColor == eyeColor).ToList();
        }
        if (!String.IsNullOrEmpty(weight))
        {
            query = query.Where(x => x.Weight.ToString() == weight).ToList();
        }
        if (!String.IsNullOrEmpty(height))
        {
            query = query.Where(x => x.Height.ToString() == height).ToList();
        }
        if (!String.IsNullOrEmpty(jobTitle))
        {
            query = query.Where(x => x.JobTitle == jobTitle).ToList();
        }
        if (!String.IsNullOrEmpty(age))
        {
            query = query.Where(x => x.Age.ToString() == age).ToList();
        }
        if (!String.IsNullOrEmpty(sex))
        {
            query = query.Where(x => x.Sex == sex).ToList();
        }

        searchedAdult = query.ToList();

    }
    private void haircolor(ChangeEventArgs a)
    {
        hairColor = a.Value.ToString();
    }
    private void eyecolor(ChangeEventArgs a)
    {
        eyeColor = a.Value.ToString();
    }
    private void genderSelected(ChangeEventArgs a)
    {
        sex = a.Value.ToString();
    }


}